<div class="row mb-5 mt-4">
  <div class="col-md-4"></div>
  <div class=" col-md-4">
    <div class="card text-center profile-img-card">
      <img class="card-img-top img-thumbnail mx-auto d-block profile-img" src="../../../assets/profile.png"/>
      <div class="card-body">
        <h4>Timothy Radder</h4>
      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>
<app-skills-dashboard></app-skills-dashboard>
<app-experience-dashboard></app-experience-dashboard>
<div class="row">
  <div class="col-md-8 col-sm-12"><app-education-dashboard></app-education-dashboard></div>
  <div class="col-md-4 col-sm-12"><app-hobbies-dashboard></app-hobbies-dashboard></div>
</div>