.indent p {
    text-indent: 2em;
}

.blue {
    border-color: #235396;
}

.thicker-hr {
    border-width: 2px;
}

.profile-img-card {
    border: 2px solid #e7e7e7;
    border-radius: 10px;
    border-bottom: 5px solid #919191;
}

.profile-img {
    padding: 0 !important;
    border: 3px solid #dee2e6;
    width: 75%;
    margin-top: 1em;
    border-radius: 50%;
}