<nav class="navbar navbar-expand-lg navbar-custom bg-custom">
  <a class="navbar-brand" href="#">Timothy Radder</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle Navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="mainNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Resume</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact Me</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/TimRadder"><i class="fab fa-github fa-lg"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://ca.linkedin.com/in/timothyradder"><i class="fab fa-linkedin fa-lg"></i></a>
      </li>
    </ul>
  </div>
</nav>