<div class="modal-header">
  <h4>Edit Interest/Hobby</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross Click')"><i class="far fa-times"></i></button>
</div>
<div class="modal-body">
  <form>
    <div class="form-group">
      <label for="description">Activity</label>
      <input type="text" class="form-control" name="description" id="description" [(ngModel)]="editInterest.activity" />
    </div>
    <div class="form-group">
      <label for="type">Type</label>
      <select id="type" name="type" class="form-control" [(ngModel)]="editInterest.type">
        <option value="hobby">Hobby</option>
        <option value="interest">Interest</option>
      </select>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-danger" (click)="activeModal.dismiss('Cancel Button')">Cancel</button>
  <button type="button" ngbAutofocus class="btn btn-primary" (click)="closeModal()">Save</button>
</div>