/* You can add global styles to this file, and also import other style files */
.indent p {
    text-indent: 2em;
}

.blue {
    border-color: #235396;
}

.thicker-hr {
    border-width: 2px;
}

.alert p {
    margin: 0;
    padding: 0;
}
